:root{
    --firtsColor: #010101;
    --secondColor: #C6C6C6;
    --thirdColor: #242424;
}

/* reset */
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: "StretchPro";
    src: url("../fonts/StretchPro.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "StretchPro-Basic";
    src: url("../fonts/StretchPro-Basic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NeueHaasDisplayRoman";
    src: url("../fonts/NeueHaasDisplayRoman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* sroll-bar */
::-webkit-scrollbar {
    display: none;
}
::selection {
    color: #000000;
    background-color: white;
}

/* grainy filter */
.grainy-filter{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    pointer-events: none; /* permet aux événements de souris de passer à travers cet élément */
}
.grainy-filter::after {
    content:"";
    position: fixed;
    width: 200vw;
    height: 200vh;
    left: -50%;
    top: -50%;
    background-image: url(../img/grainy-filter.png);
    animation: grain 1.5s steps(6) infinite;
}
@keyframes grain {
    0%, 100% {transform: translate(0,0);}
    10% {transform: translate(-5%,-10%);}
    30% {transform: translate(3%,-15%);}
    50% {transform: translate(12%,9%);}
    70% {transform: translate(9%,4%);}
    90% {transform: translate(-1%,7%);}
}

/* cursor */
.custom-cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    background-color: var(--secondColor);
    border-radius: 50%;
    pointer-events: none; /* Permettre aux éléments en dessous d'être cliquables */
    z-index: 800;
    transition: transform .2s ease-out;
}

body{
    background-color: var(--firtsColor);
    font-family: 'NeueHaasDisplayRoman', sans-serif;
    color: var(--secondColor);
}
/* bg video */
.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}
#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -500;
    width: 100%;
}

@media screen and (max-width: 900px){
    .grainy-filter::after {
        content:"";
        width: 250vw;
        height: 250vh;
    }
    /* cursor */
    .custom-cursor{
        display: none;
    }
    /* video */
    .video-container {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100%;
    }
    #background-video {
        position: fixed;
        left: 50%;
        width: 100vw;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: -500;
    }
}

/* hour */
.container-hour{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.hour{
    border: 1px solid #363636;
    border-radius: 100px;
    padding: 5px 15px 5px 15px;
    margin-top: 2vh;
    position: sticky;
    top: 0;
}

/* about */
.sticky_patents{
    height: 200vh;
}
.sticky{
    overflow: hidden;
    position: sticky;
    top: 0px;
    height: 100vh;
    background-image: url(../img/planet.PNG);
    background-size: cover;
    background-position: center;
}
.scroll_section{
    position: absolute;
    top: 0;
    height: 100%;
    width: 200vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4em;
}

/* hero */
.hero-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80vh;
    width: 100vw;
    margin-right: 10vw; 
}
.hero-title h1{
    font-family: 'StretchPro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 100%;
    margin: 2vw;
    text-transform: uppercase;
    color: #f1f1f1;
}
.hero-title span{
    font-family: 'StretchPro-Basic', sans-serif;
}

 /* about content */
.container-about{
    width: 100vw;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 60px 0px 60px;
    height: 100vh;
}
.about-text{
    width: 50vw;
    color: #f1f1f1;
}
.about-content p{
    font-size: .7em;
    font-weight: 500;
}

/* hero mobile*/
@media screen and (max-width: 900px){
    .hero-container{
        height: 100vh;
    }
    .hero-title h1{
        font-size: 2.5em;
    }
    .sticky{
        height: auto;
        border: 0px;
        background-image: url(../img/planet-mobile.PNG);
    }
    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4vw;
    }
    .about-content img{
        width: 100%;
    }
    .about-text{
        width: 100%;
    }
    .about-content p{
        font-size: 1.3em;;
        margin-left: 0;
        margin-top: 5vh;
    }
}

/* doodle */
.slider-thumb::before {
    filter: blur(8px) drop-shadow(0em 0em 2em #9000ff8d); 
    content: "";
    width: 450px;
    height: 450px;
    background: radial-gradient(circle farthest-corner at center center, #01010100 40%, #43016f 60%, #c300ff 83%);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 6s linear infinite;
    display: block;
    z-index: -100;
}
@keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg) translateX(2.5%) translateY(-2.5%);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg)  translateX(-2.5%) translateY(2.5%);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg) translateX(2.5%) translateY(-2.5%);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg) translateX(-5%) translateY(2.5%);
    }
}

/* process container */
.process-container {
    margin: 100px 0px 100px 0px;
    overflow: hidden;
}
.process-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-left: 2vw;
    width: 100vw;
}
.process-center{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.line{
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    overflow: hidden;
}
.line span{
    color: #363636;
}
.line h2{
    font-weight: 400;
    font-size: 3em;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.line-1 h2{
    margin-left: 12vw;
}
.line-2 h2{
    margin-left: 5vw;
}
.line-3 h2{
    margin-left: 2vw;
}
.line-4 h2{
    margin-left: 0vw;
}
.line-5 h2{
    margin-left: 2vw;
}
.line-6 h2{
    margin-left: 5vw;
}
.line-7 h2{
    margin-left: 12vw;
}
.line-1, .line-2, .line-3, .line-4, .line-5, .line-6, .line-7{
    border-top: 1px solid var(--firtsColor);
    border-bottom: 1px solid var(--firtsColor);
    border-right: 0px;
    transition: .2s linear;
    padding: 10px 30px 10px 30px;
}
.line-1:hover, .line-2:hover, .line-3:hover, .line-4:hover, .line-5:hover, .line-6:hover, .line-7:hover{
    border-top: 1px solid #c6c6c623;
    border-bottom: 1px solid #c6c6c623;
    border-right: 0px;
}

/* process mobile */
@media screen and (max-width: 900px){
    .process-container {
        display: flex;
        justify-content: flex-start;
        align-items: end;
        margin: 0px;
        margin-top: 100px;
    }
    .process-content {
        display: flex;
        flex-direction: column;
        padding: 15px 0px 15px 0px;
        width: 100vw;
    }
    .process-center{
        margin-top: -80%;
    }
    .slider-thumb{
        margin-top: 10%;
    }
    .slider-thumb::before {
        width: 300px;
        height: 300px;
    }
    .line h2{
        font-size: 1.7em;
        -webkit-box-reflect: below 4px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
}

/* sckills container */
.skills-title{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out;

}
.skills-title h2{
    text-transform: uppercase;
    font-size: 11em;
    font-weight: 400;
}
.sticky_patents_2{
    height: 270vh;
}
.sticky_2{
    overflow: hidden;
    position: sticky;
    top: 0px;
    height: 100vh;
}
.scroll_section_2{
    position: absolute;
    top: 0;
    height: 100%;
    width: 270vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.blur-bar{
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}
.cards-container{
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.assist-content{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 80%;
    align-items: end;
}
.card{
    height: 80%;
    width: 70vw;
    margin: 0px 20px 0px;
    border-radius: 50px;
    padding: 40px;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}
.card-1{
    background-color: var(--thirdColor);
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.744);
}
.card-2{
    background-color: #C6C6C6;
    color:#000000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.744);
}
.card-3{
    background-color: #FFE0B3;
    color: #000000;
    box-shadow: 0 0 10px rgba(255, 253, 238, 0.744);
}
.card-1 span{
    color: #c6c6c67e;
}
.card-2 span{
    color: #2d2d2da4;
}
.card-3 span{
    color: #2d2d2da4;
}
.content-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.top-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-card li{
    list-style: none;
    font-size: 2.5em;
}
.card-list {
    width: 50%;
}
.bottom-card{
    display: flex;
    justify-content: space-between;
}
.bottom-card h3{
    font-size: 3.5em;
    text-transform: uppercase;
}
.media-video{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    overflow: hidden;
    pointer-events: none;
}
.media-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* card mobile */
@media screen and (max-width: 900px){
    .sticky_patents_2{
        height: auto;
    }
    .sticky_2{
        overflow: visible;
        position: static;
        height: auto;
    }
    .blur-bar{
       display: none;
    }
    .skills-title h2{
        font-size: 4em;
        font-weight: 400;
    }
    .cards-container{
        height: auto;
        margin: 0px 10px 0px 10px;
        display: flex;
        flex-direction: column;
    }
    .assist-content{
        display: flex;
        justify-content: end;
        width: 100%;
        height: auto;
        margin-top: 10vh;
    }
    .card{
        width: 100%;
        margin: 20px 0px 0px 0px;
        padding: 30px;
        border-radius: 40px;
        -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
    .top-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-list {
        width: 100%;
        margin: 50px 0px 50px 0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .top-card li{
        list-style: none;
        font-size: 1.5em;
    }
    .bottom-card h3{
        font-size: 2em;
    }
    .media-video{
        width: 200px;
        height: 200px;
        border-radius: 200px;
        overflow: hidden;
    }
    .media-video::after{
        content: '';
        position: absolute;
        transform: translateX(-100%);
        z-index: 10;
        width: 200px;
        height: 200px;
        border-radius: 200px;
        pointer-events: none;
    }
}

/* projet container */
.projets-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    margin-top: 10vh;
    z-index: -10;
}
.projets-title h2{
    text-transform: uppercase;
    font-size: 11em;
    font-weight: 400;
}
.projets-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}
.projets-structure{
    display: flex;
    flex-direction: column;
}
.content-projet-1{
    width: 100%;
    height: 130vh;
    background-color: var(--secondColor);
    border-radius: 50px;
}
.about-projet{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 40px 0px;
    font-size: 1.2em;
    font-weight: 600;
}
.middle-projets{
    display: flex;
    justify-content: space-between;
}
.content-projet-2, .content-projet-3{
    width: 47vw;
    height: 60vh;
    background-color: var(--secondColor);
    border-radius: 50px;
}
.content-projet-4{
    width: 47vw;
    height: 60vh;
    border: 1px solid #363636;
    background-color: var(--firtsColor);
    border-radius: 50px;
    cursor: pointer;
}
.new-project{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
    font-weight: 600;
}
.content-projet-4 .add-projet {
    transition: transform 1.5s ease-in-out;

}
.content-projet-4:hover .add-projet {
    transform: rotate(540deg);
}

/* projet mobile */
@media screen and (max-width: 900px){
    .projets-title h2{
        font-size: 4em;
        font-weight: 400;
    }
    .content-projet-1{
        height: 27vh;
        border-radius: 40px;
    }
    .middle-projets{
        display: flex;
        flex-direction: column;
    }
    .content-projet-2, .content-projet-3{
        width: 100%;
        height: 27vh;
        border-radius: 40px;
    }
    .content-projet-4{
        width: 100%;
        height: 27vh;
        border-radius: 40px;
    }
    .add-projet{
        width: 70px;
    }
}


/* contact container */
.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
.contact-title h2{
    text-transform: uppercase;
    font-size: 11em;
    font-weight: 400;
}
.contact-container{
    padding-bottom: 15vh;
}
.contact-media{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.link-media{
    display: block;
    width: 100%;
}
.contact-media h3{
    font-size: 4em;
    font-weight: 500;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.contact-media a{
    color: var(--secondColor);
    text-decoration: none;
    transition: .3s ease-in-out;
}
.contact-1{
    border-top: 1px solid #363636;
    padding-left: 4vw;
}
.contact-2{
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
    padding-left: 4vw;
}
.contact-3{
    border-bottom: 1px solid #363636;
    padding-left: 4vw;
}
.contact-1 h3{
    transition: .3s ease-in-out;
}

.contact-1:hover  img{
    filter: brightness(0%); /* Réglez la luminosité à 0% (noir) lors du survol */
    transition: .3s ease-in-out;
}
.contact-2:hover  img{
    filter: brightness(0%); 
    transition: .3s ease-in-out;
}
.contact-3:hover  img{
    filter: brightness(0%); 
    transition: .3s ease-in-out;
}


.contact-1::before{
    content: '';
    position: absolute;
    background-color: var(--secondColor);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-left: -4vw;
    transform: translateY(-101%);
    transition: .3s ease-in-out;
    z-index: -1;
}
.contact-1:hover::before{
    transform: translateY(0%);
}
.contact-2::before{
    content: '';
    position: absolute;
    background-color: var(--secondColor);
    width: 100%;
    height: 100%;
    margin-left: -4vw;
    transform: translateY(-101%);
    transition: .3s ease-in-out;
    z-index: -2;
}
.contact-2:hover::before{
    transform: translateY(0%);
}

.contact-3::before{
    content: '';
    position: absolute;
    background-color: var(--secondColor);
    width: 100%;
    height: 100%;
    margin-left: -4vw;
    transform: translateY(-101%);
    transition: .3s ease-in-out;
    z-index: -3;
}
.contact-3:hover::before{
    transform: translateY(0%);
}

/* contact mobile */
@media screen and (max-width: 900px){
    .contact-title h2{
        font-size: 4em;
        font-weight: 400;
    }
    .contact-media h3{
        font-size: 1.5em;
    }
    .contact-media img{
        width: 20px;
    }
}


/* progress bar -----------------------------------------------------------*/
.progress-container {
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    bottom: 10;
    left: 2vw;
    right: 2vw;
    width: calc(100% - 4vw);
    border: 1px solid var(--thirdColor);
    background-color: #0101011a;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    z-index: 10;
    overflow: hidden;
}
.progress-bar {
    background-color: var(--thirdColor);
    width: 0;
    height: 80px;
    border-radius: 20px 0px 0px 20px;
}
.progress-content{
    position: absolute;
    height: 100%;
    width: 100%;
}
.content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    font-size: .9em;
}
.copyright{
    margin-left: 1vw;
}
.follow {
    position: relative;
    color: var(--secondColor);
    text-decoration: none;
    border: 1px solid var(--secondColor);
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    width: 130px;
    height: 55px;
    z-index: 200;
}
.follow p{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}
.follow p:hover{
    transform: translateY(-101%);
}
.follow::after{
    content: 'Me contacter';
    position: absolute;
    padding: 15px;
    left: 0;
    top: 0;
    border-radius: 150px 150px 0px 0px;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: .3s ease-in-out;
    background-color: var(--secondColor);
    color: var(--firtsColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow:hover::after{
    transform: translateY(0%);
    border-radius: 0px;
}

/* nav & footer */
.navbar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 100;
}
.navbar .nav-links ul{
    display: flex;
    color: var(--secondColor);
    list-style: none;
    text-transform: capitalize;
}
.navbar .nav-links ul li{
    cursor: pointer;
    transition: .5s;
}
.navbar .nav-links ul li{
    margin: 0px 25px 0px;
}
.navbar .nav-links ul:hover li{
    filter: blur(5px);
}
.navbar .nav-links ul li:hover{
    filter: blur(0px);
}
.navbar .menu-burger{
    display: none;
    height: 80px;
    z-index: 200;
}

/* menu */
@media screen and (max-width: 900px) {
    .progress-container {
        overflow: visible;
        background-color: #010101de;
    }
    .copyright {
        display: none;
    }
    .navbar {
        padding: 0;
        position: static;
        transform: none;
    }
    .navbar .menu-burger {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        top: 0;
        left: -2vw;
        position: absolute;
        width: 100vw;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100;
        transition: all .4s ease-in-out;
        background-color: #010101de;
        backdrop-filter: blur(30px);
    }
    .mobile-menu {
        position: absolute;
        margin-top: 0;
        top: -100vh; 
    }
    .line-1-menu {
        background-color: var(--secondColor);
        height: 2px;
        width: 60px;
    }
    .line-2-menu {
        background-color: var(--secondColor);
        height: 2px;
        width: 90px;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li {
        margin: 25px 0px; 
        font-size: 1.2em;
    }
    .navbar .nav-links ul:hover li{
        filter: blur(0px);
    }
    .navbar .nav-links ul li:hover{
        filter: blur(0px);
    }
}
