.container-hour{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.hour{
    border: 1px solid #363636;
    border-radius: 100px;
    padding: 5px 15px 5px 15px;
    margin-top: 2vh;
    position: sticky;
    top: 0;
}